.weather {
    border: 3px solid black;
    border-radius: 3%;
    background-color: aqua;
    width: 15rem;
    height: 17%;
    font-size: 1em;
    background-image: url("/images/weather.png");
    background-repeat: no-repeat;
    color: white;
    font-style: italic;
    font-weight: bold;
}

.search {
    width: fit-content;
    height: 17%;
    font-size: 1em;
    color: white;
    font-style: italic;
    font-weight: bold;
    align-self: center;
    display: inline-block;
}