.new-complaint {
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    height: fit-content;
    width: 95%;
    background-color: beige;
    padding: 1rem;
    margin: 1rem;
}

input {
    height: 3rem;
    width: fit-content;
}

.add-button {
    height: 3rem;
    width: 20rem;
}