.form-container {
    background-color: rgb(238, 201, 107);
    border: 2px solid black;
    border-radius: 5px;
    padding: 3rem;
    width: 25rem;
    margin: 3rem auto;
    display: flex;
    height: 40rem;
    display: inline-block;
    ;
}

label {
    display: inline-block;
    margin: 1rem;
    width: fit-content;
    border: 2px solid black;
    background-color: lightgoldenrodyellow;
    height: fit-content;
    text-align: center;
    text-overflow: ellipsis;
    padding: 0 1rem;
}

button {
    width: fit-content;
}

input {
    display: inline-block;
    margin: 0rem;
    width: 15rem;
    height: 2rem;
}

#new-complaint {
    height: 35rem;
}