.form-container {
    background-color: rgb(238, 201, 107);
    border: 2px solid black;
    border-radius: 5px;
    padding: 3rem;
    width: 25rem;
    margin: 0 auto;
    display: flex;
    height: 30rem;
    display: inline-block;
    ;
}

label {
    display: inline-block;
    margin: 1rem;
    width: fit-content;
    border: 2px solid black;
    background-color: lightgoldenrodyellow;
    height: 1.5rem;
    text-align: center;
    text-overflow: ellipsis;
    padding: 0 1rem;
}

button {
    width: fit-content;
}

input {
    display: inline-block;
    margin: 0rem;
    width: 15rem;
    height: 2rem;
}

.login-form {
    background-color: rgb(244, 213, 132);
    border: 2px solid black;
    border-radius: 5px;
    padding: 3rem;
    width: 25rem;
    margin: 0 auto;
    display: flex;
    height: 25rem;
    border-radius: 15%;
}

#new-complaint {
    height: 35rem;
}