.complaint-page {
    display: block;
    background-color: rgb(238, 201, 107);
    border: black solid 5px;
    border-radius: 3%;
    height: 300rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}