.complaint-page {
    display: block;
    background-color: pink;
    background-image: url("/images/mama.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: black solid 5px;
    border-radius: 3%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 3rem;
}

.comp-h1 {
    font-family: Rubik Burned, Rubik, sans-serif;
    font-size: 8rem;
    color: rgb(5, 5, 4);
    margin-top: 0.5rem;
    display: inline-block;
    width: 80%;
    color: rgb(195, 17, 17);
}