#new-note {
    border: 2px solid black;
    display: inline-block;
    margin: 0.5rem;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    padding: 00.5rem;
    background-color: rgb(195, 148, 207);
    text-align: center;
    opacity: 0.7;
}

.note-input {
    width: 50rem;
    height: 10rem;
    border-radius: 10px;
    word-wrap: break-word;
}